@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  height: 100%;
  width: 100%;
  background: #0a0a0a;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
input {
  font: inherit;
}
